#contact {
	padding-left: vw;
	h2 {
		margin-left: 10vw;
	}
}
.contact {
	display: grid;
	justify-content: center;
	grid-template-columns: 10% 10% 10% auto;
	grid-template-rows: auto;
	grid-column-gap: 10px;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: 5%;
	margin-top: 10%;
    padding-left: 6vw;
	font-weight: 700;
	background-color:  #07313179;
	box-shadow: 0px 0px 42px 54px #07313179;
	border-radius: 6%;
	> * {
		box-shadow: 0px 0px 42px 54px #07313109;
	}
	.fa {
		 padding: 0 3%;
		}
	.constVar {
		grid-column: 1 / 5;
		grid-row: 1 / 2;
	}
	.firstLet {
		grid-column: 2 / 5;
		grid-row: 2 / 3;
	}
	.webURL {
		grid-column: 3 / 5;
		grid-row: 3 / 4;
	}
	.secondLet {
		grid-column: 2 / 5;
		grid-row: 4 / 5;
	}
	.ifResult {
		grid-column: 3 / 5;
		grid-row: 5 / 6;
	}
	.thenResult {
		grid-column: 3 / 5;
		grid-row: 6 / 7;
	}
	.returnResults {
		grid-column: 2 / 5;
		grid-row: 7 / 8;
	}
	.closeBraket {
		grid-column: 1 / 5;
		grid-row: 8 / 9;
	}
	@include largerThen( 768px) {
		& {
			grid-template-columns: 3% 10% 6% 3% auto;
			grid-template-rows: auto;
			grid-column-gap: 10px;
			grid-column-gap: 10px;
			grid-row-gap: 30px;
			margin: 0;

		}
		.firstLet {
			grid-column: 2 / 6;
			grid-row: 2 / 3;
			}
			.webURL {
			display: inline;
			grid-column: 5 / 6;
			grid-row: 2 / 3;
		}
		.secondLet {
			grid-column: 2 / 6;
			grid-row: 3 / 4;
		}
		.ifResult {
			grid-column: 3 / 6;
			grid-row: 3 / 4;
		}
		.thenResult {
			grid-column: 4 / 6;
			grid-row: 3 / 4;
		}
		.returnResults {
			grid-column: 2 / 6;
			grid-row: 4 / 5;
		}
		.closeBraket {
			grid-column: 1 / 6;
			grid-row: 5 / 6;
		}}
}

.green, #contact a, q > a{
	color: chartreuse;
}
.orange {
	color: $orange;
}
.violet {
	color: violet;
}
.blue {
	color: rgb(79, 79, 165);
}
.typoSign {
	color: $color-typoSign;
}
.shadow {
	display: block;
	box-shadow: 0px 0px 42px 54px #07313179 inset;
	padding: 10%;
	@include largerThen(768px) {
		padding: 5%;

	}
}
.copyright {
	box-shadow: 0px 0px 42px 54px #07313179;
	text-align: center;
}