header{

    .circle {
        display: flex;
        justify-content: center;
        // width: 100%;
        height: 100vh;
        position: relative;
        background-color: #041b21;
        perspective: 500vh;
        & > *{
            // flex: 0.1;
            // display: inline-flex;
        
        height: 5vh;
        position:absolute;
        width:5vh;
        border-radius:50%;
        margin: 1vw;
        animation-name: rotate;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        // animation-direction: alternate-reverse;
        }
    }
    @keyframes rotate { 
         0% { 
            transform: translate(21vw, 21vh) rotate( .4deg)  translate(-21vw, -21vh) rotate(   0deg);
            box-shadow: 5px 5px 20px #888; } 
        14% { 
            transform: translate(19vw, 19vh) rotate( .7turn)  translate(-19vw, -19vh) rotate(-.6turn); 
            box-shadow: 5px 5px 20px #888; } 
            // 10% { transform: translate(16vw, 16vh) rotate( 720deg)  translate(-16vw, -16vh) rotate(-720deg); } 
            // 50% { transform: translate(13vw, 13vh) rotate(1080deg)  translate(-13vw, -13vh) rotate(-1080deg); } 
            // 67% { transform: translate(10vw, 10vh) rotate(1440deg)  translate(-10vw, -10vh) rotate(-1440deg); } 
            // 83% { transform: translate(7vw,   7vh) rotate(1800deg)  translate(-7vw,   -7vh) rotate(-1800deg); } 
        100% { 
            transform: translate(4vw,   4vh) rotate(5turn)  translate(-4vw,   -4vh) rotate(-5turn); 
            box-shadow: 5px 5px 20px #888; } 
    //     10% { transform:translate( 140px,  140px ) rotate( 144deg)  translate( -140px, -140px) rotate(   144deg); } 
    //     20% { transform:translate( 140px,  140px ) rotate( 288deg)  translate( -140px, -140px) rotate(  -288deg); } 
    //     30% { transform:translate( 140px,  140px ) rotate( 432deg)  translate( -140px, -140px) rotate(   432deg); } 
    //     40% { transform:translate( 140px,  140px ) rotate( 576deg)  translate( -140px, -140px) rotate(  -576deg); } 
    //     50% { transform:translate( 140px,  140px ) rotate( 720deg)  translate( -140px, -140px) rotate(   720deg); } 
    //     60% { transform:translate( 140px,  140px ) rotate( 864deg)  translate( -140px, -140px) rotate(  -864deg); } 
    //     70% { transform:translate( 140px,  140px ) rotate( 1008deg) translate( -140px, -140px) rotate(  1008deg); } 
    //     80% { transform:translate( 140px,  140px ) rotate( 1152deg) translate( -140px, -140px) rotate( -1152deg); } 
    //     90% { transform:translate( 140px,  140px ) rotate( 1296deg) translate( -140px, -140px) rotate(  1296deg); } 
    //    100% { transform:translate( 140px,  140px ) rotate( 1440deg) translate( -140px, -140px) rotate( -1440deg); } 
    }
     
}

