@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin fonts (/*$family,*/ $size, $shadow){
  // font-family: $family; "'Caveat', cursive",
  font-size: $size;
  text-shadow: $shadow $shadow $shadow #aaa;
};

@mixin imagegrid($qty, $margin) {
  width: ((100% - (($qty - 1) * $margin))/$qty);
  &:nth-child(n) {
    margin-right: $margin;
    margin-bottom: $margin;
  }
  &:nth-child(#{$qty}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@mixin break($args...) {
  @if length($args) == 1 {
    @media (min-width: nth($args, 1)) {
      @content;
    }
  } @else {
    @media (min-width: nth($args, 1))
      and (max-width: nth($args, 2)) {
      @content;
    }
  }

}

@mixin lessThan($args1, $args2, $args3) {
  	@media (max-width: nth($args1)) {
		@content;
	}
  	@media (max-width: nth($args2)) {
		@content;
	}
  	@media (max-width: nth($args3)) {
		@content;
	}
}

@mixin largerThen($args1) {
  	@media (min-width: $args1) {
		@content;
	}
}
